<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a New Puppy</title>
  </head>
  <body>
    Puppy Name:
    <%= @name %>
    Puppy Breed:
    <%= @breed %>
    Puppy Age:
    <%= @months_old %>
  </body>
</html>
